attrs==23.1.0
certifi==2022.12.7
charset-normalizer==3.1.0
ConfigSpace==0.4.21
cycler==0.11.0
Cython==0.29.34
dswizard==0.2.5
dswizard-components==0.2.2
exceptiongroup==1.1.1
fastjsonschema==2.16.3
fonttools==4.39.3
gower==0.1.2
idna==3.4
igraph==0.10.4
importlib-resources==5.12.0
iniconfig==2.0.0
joblib==1.1.1
jsonschema==4.17.3
jupyter_core==5.3.0
kiwisolver==1.4.4
liac-arff==2.5.0
matplotlib==3.5.3
minio==7.1.14
multiprocessing-logging==0.3.4
nbformat==5.8.0
networkx==2.8.8
numpy==1.21.6
openml==0.12.2
packaging==23.1
pandas==2.0.1
patsy==0.5.3
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
platformdirs==3.5.0
pluggy==1.0.0
psutil==5.9.5
pyarrow==12.0.0
pygraphviz==1.10
pymfe==0.4.2
pyparsing==3.0.9
pyrsistent==0.19.3
pytest==7.3.1
python-dateutil==2.8.2
python-slugify==6.1.2
pytz==2023.3
requests==2.29.0
scikit-learn==1.0.2
scipy==1.8.1
six==1.16.0
statsmodels==0.13.5
text-unidecode==1.3
texttable==1.6.7
threadpoolctl==3.1.0
tomli==2.0.1
tqdm==4.65.0
traitlets==5.9.0
tzdata==2023.3
urllib3==1.26.15
xmltodict==0.13.0
zipp==3.15.0
